@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color-1: #2D2A34;   /* Dark slate gray */
    --color-2: #3E3B47;   /* Charcoal gray */
    --color-3: #4A4A58;   /* Deep grayish purple */
    --color-4: #5D5865;   /* Dusty mauve */
    --color-5: #E4B363;   /* Warm golden contrast */
    --color-6: #007db5;
    --color-7: #ff3737;
    --color-8: #98c500;
}

body, html {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background: radial-gradient(circle, var(--color-3), var(--color-1));
    color: var(--color-5);

    font-family: 'Ubuntu', sans-serif;

    overflow: hidden;
}

nav {
    &.not-displayed {
        transform: translateY(-90px);
    }

    transition: transform 0.3s;

    width: 100%;
    height: 89px;

    background-color: var(--color-2);

    border-bottom: 1px solid var(--color-4);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    & > #logo-and-name {
        margin-left: 20px;

        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;

        & > img {
            margin-right: 20px;
        }
    }

    & > #apps {
        margin-right: 20px;

        & > span {
            font-size: 49px;
        }
    }
}

main {
    transition: height 0.3s, transform 0.3s, opacity 0.3s;

    &.settings {
        opacity: 1;
        height: calc(100% - 180px);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > button {
            transition: border-radius 0.3s;
            width: 200px;
            border: 1px solid var(--color-5);
            background-color: var(--color-4);
            height: 37px;
            font-size: 19px;
            border-radius: 15px;
            color: var(--color-5);

            &:hover {
                border-radius: 10px;
            }
        }

        & > .input-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 400px;

            & > input {
                transition: border-radius 0.3s;
                width: 228px;

                outline: none;
                border: 1px solid var(--color-5);
                background-color: var(--color-4);
                height: 15px;
                padding: 10px;
                font-size: 19px;
                border-radius: 15px;
                color: var(--color-5);

                &:hover, &:focus {
                    border-radius: 10px;
                }
            }

            & > select {
                transition: border-radius 0.3s;
                width: 250px;

                outline: none;
                text-indent: 5px;
                border: 1px solid var(--color-5);
                background-color: var(--color-4);
                height: 37px;
                font-size: 19px;
                border-radius: 15px;
                color: var(--color-5);

                &:hover, &:focus {
                    border-radius: 10px;
                }
            }
        }
    }

    &.apps{
        opacity: 1;
        height: 100%;
        transform: translateY(-90px);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(125px, 1fr));
        gap: 25px;
        padding-left: 25px;
        padding-right: 25px;

        & > .title {
            grid-column: 1 / -1;

            color: var(--color-5);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 56px;
            font-weight: bold;
        }

        & > .app {
            height: calc(100% - 30px);
            width: calc(100% - 30px);

            padding: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            border-radius: 15px;
            background-color: var(--color-4);

            transition: background-color 0.3s;

            & > img {
                height: 60%;
            }

            & > p {
                font-size: 15px;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }

            &:hover {
                background-color: var(--color-2);
            }
        }
    }

    &.mid-stage-1 {
        display: flex;
        opacity: 0 !important;
        height: calc(100% - 180px);
    }

    &.mid-stage-2 {
        display: grid;
        opacity: 0 !important;
        height: 100%;
    }

    &.dashboard {
        opacity: 1;
        height: calc(100% - 180px);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h1{
            font-size: 120px;
            padding: 0;
            margin: 0;
        }

        & > h6{
            font-size: 20px;
            padding: 0;
            margin: 0;
        }

        & > #speed-limit{
            margin-top: 20px;
            height: 50px;
            width: 50px;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            border-radius: 50%;
            border: 5px solid red;
            background-color: white;
            color: black;

            &.two-digit-limit {
                font-size: 30px;
            }

            &.three-digit-limit {
                font-size: 25px;
            }
        }

        & > #fuel{
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            & > #fuel-indicator{
                width: 250px;
                height: 25px;
                background: linear-gradient(to right, var(--color-5) 0%, var(--color-2) 0%);
            }
        }

        & > #adblue{
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            & > #adblue-indicator{
                width: 250px;
                height: 25px;
                background: linear-gradient(to right, var(--color-6) 0%, var(--color-2) 0%);
            }
        }

        & > #gear {
            width: 140px;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            display: flex;

            & > span{
                margin: 0;
                padding: 0;
            }
            & > p{
                font-size: 20px;
                font-weight: bold;
            }
        }

        & > #c-control {
            width: 145px;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            display: flex;

            & > span{
                margin: 0;
                padding: 0;
            }
            & > p{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

footer {
    width: 100%;
    height: 89px;

    background-color: var(--color-2);

    border-top: 1px solid var(--color-4);

    &.not-displayed {
        transform: translateY(90px);
    }

    transition: transform 0.3s;
}

h1, h6, p, span, button, select, a {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}