main.spotify {
    opacity: 1;
    height: calc(100% - 180px);
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

main.spotify-log-in {
    opacity: 1;
    height: calc(100% - 180px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > h1{
        font-size: 80px;
        padding: 0;
        margin: 0;
    }

    & > a{
        text-decoration: underline;
        color: var(--color-5);

        font-size: 20px;
        padding: 0;
        margin: 0;
    }
}

footer.spotify {
    padding: 10px;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    & > #player-cover-title {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 25%;
        overflow: hidden;

        & > img {
            height: 70px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}

#spotify-sidebar {
    height: 100%;
    width: calc(7% - 1px);
    max-width: 89px;

    border-right: 1px solid var(--color-4);
    background-color: var(--color-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#spotify-sidebar-top {
    width: 100%;
}

.spotify-sidebar-button {
    transition: color 0.3s, background-color 0.3s;

    width: 100%;
    aspect-ratio: 1 / 1;
    border-bottom: 1px solid var(--color-4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > span {
        transition: transform 0.3s;
        font-size: 40px;
    }

    &.spotify-sidebar-button-bottom {
        border-top: 1px solid var(--color-4);
        border-bottom: none;
    }

    &:hover, &.spotify-selected {
        background-color: var(--color-5);
        color: var(--color-2);
    }

    &:hover:not(.spotify-selected) > span {
        transform: scale(0.9);
    }
}