main.spotify {
    opacity: 1;
    height: calc(100% - 180px);
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

main.spotify-log-in {
    opacity: 1;
    height: calc(100% - 180px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > h1{
        font-size: 80px;
        padding: 0;
        margin: 0;
    }

    & > a{
        text-decoration: underline;
        color: var(--color-5);

        font-size: 20px;
        padding: 0;
        margin: 0;
    }
}

footer.spotify {
    padding: 10px;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    & > #player-cover-title {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 25%;
        overflow: hidden;

        & > img {
            height: 70px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}

#spotify-sidebar {
    height: 100%;
    width: calc(7% - 1px);
    max-width: 89px;

    border-right: 1px solid var(--color-4);
    background-color: var(--color-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#spotify-sidebar-top {
    width: 100%;
}

.spotify-sidebar-button {
    transition: color 0.3s, background-color 0.3s;

    width: 100%;
    aspect-ratio: 1 / 1;
    border-bottom: 1px solid var(--color-4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > span {
        transition: transform 0.3s;
        font-size: 40px;
    }

    &.spotify-sidebar-button-bottom {
        border-top: 1px solid var(--color-4);
        border-bottom: none;
    }

    &:hover, &.spotify-selected {
        background-color: var(--color-5);
        color: var(--color-2);
    }

    &:hover:not(.spotify-selected) > span {
        transform: scale(0.9);
    }
}

#spotify-center {
    height: 100%;
    width: calc(100% - 30px);

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    scrollbar-color: var(--color-5) var(--color-3);
    scrollbar-width: thin;
}

.spotify-recommendation, .spotify-search-results {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: auto;

    & > h1 {
        margin-top: 30px;
        width: 100%;
        text-align: left;
    }

    & > h5 {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        text-align: left;
    }
}

.spotify-recommendation-list, .spotify-search-result-list {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    & > span {
        font-size: 35px;
    }

    & > .spotify-recommendation-item, & > .spotify-search-item {
        transition: height 0.3s, width 0.3s, margin 0.3s;

        margin-left: 25px;
        margin-right: 25px;
        height: 100%;
        aspect-ratio: 3 / 2;
        border-radius: 15px;

        & > .spotify-background-div {
            transition: filter 0.3s;
        }

        &:not(.spotify-recommendation-item-hidden):hover, &:not(.spotify-search-item-hidden):hover{
            & > .spotify-background-div{
                filter: blur(0) !important;
            }
        }

        &.spotify-recommendation-item-hidden, &.spotify-search-item-hidden {
            & > .spotify-content-container > * {
                font-size: 0;
            }

            margin-left: 0;
            margin-right: 0;
            height: 0;
        }
    }
}

.spotify-content-container {
    height: 100%;

    & > * {
        transition: font-size 0.3s;
        -webkit-text-stroke: 1px var(--color-1);
        text-align: center;
    }

    & > h1 {
        font-size: 19px;
    }

    & > h2 {
        font-size: 16px;
    }

    & > h3 {
        font-size: 13px;
    }
}

#spotify-search-bar {
    margin-top: 30px;
    outline: none;
    width: 300px;
    aspect-ratio: 15 / 1;
    font-size: 20px;
    padding: 12px;
    border: 1px solid var(--color-1);
    border-radius: 25px;
    background-color: var(--color-5);
    color: var(--color-3);
}